{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "jsx-a11y", "jest"],
  "rules": {
    "react/state-in-constructor": "off",
    "react/static-property-placement": [1, "static public field"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "es6": true,
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src/"]
      }
    }
  }
}
